<h1> Welcome to the rps battleground </h1>
<form action='/name'>
  <label for 'player_name'>
      Enter your name here:
  </label>
  <input type='text' name='player_name'>
  <input type='submit' value='Submit'>
</form>
